# Ignore image datasets
**/cnn dataset/**
**/data image big/**
**/jodi mining/**
**/jodi mining 2/**
**/jodi mining 3/**
**/patch_dataset/**
**/S2C_MSIL2A_20260210T044931_N0512_R/**
**/saved_models/**
**/inference_output/SITE-03_2023_overlay_georef/**
*.png
*.jpg
*.jpeg
*.tif
*.tiff
*.jp2
*.safe



# Ignore shortcuts
*.lnk

*.xml
*.safe
*.jp2